root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[LICENSE]
trim_trailing_whitespace = false

[{*.go,Makefile,.gitmodules,.gitconfig,go.mod,go.sum}]
indent_style = tab

[*.{md,txt}]
indent_style = tab
trim_trailing_whitespace = false

[*.{yml,yaml,raml,json}]
indent_style = space
indent_size = 2

[*.{js,jsx,ts,tsx,css,less,sass,scss,vue,py}]
indent_style = space
indent_size = 4

[*.go]
indent_size = 4
